.movies-slider {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;  
    height: calc(100vh - 75px);
}
.movies-slider__item {
    height: inherit;
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0;
    h2 {
        font-size: 23px;
        position: absolute;
        text-align: center;
        width: 100%;
        top: 80%;
        letter-spacing: 5px;
    }
    
    &:hover img {
        opacity: 0.3;
    }
}