.navbar {
    max-height: 75px;
    padding: 0.25em 0.55em;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &__icons-left, &__icons-right {
        @extend .navbar;
        width: 8%;   
    }
}