@import '/src/assets/sass/variables';

body {
    background-color: $global-background;
    color: $primary-color;
    // height: 100%;
    // width: 100%;
    margin: 0;
}

h1, h2, h4 {
    font: 100% $main-font-stack;
}

h3, p, label{
    font: 100% $secondary-font-stack;
}
