@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

$global-background: rgb(37, 37, 37);

$form-background:rgba(63, 63, 63);
$input-background:rgb(196, 196, 196);

$primary-color: rgba(255, 255, 255);
$main-font-stack: Lato, sans-serif; 
$secondary-font-stack: Roboto, sans-serif; 